body{
    color:red;
    text-align:center;
}
.center{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fuck{
    text-align: center;
}
